_site/
.sass-cache/
.jekyll-metadata
_persons/alumnus3.md
_persons/alumnus2.md
_persons/alumnus1.md
_persons/test_local.md
favicon_32.png
favicon_16.png
favicon.png
_publications/2017_test_book.md
_publications/2017_test_chapt.md
_publications/2017_test_phd.md
_publications/2017_test_poster.md
_publications/2017_test_preprint.md
_publications/2017_test_msc.md
_publications/2017_test_proc.md
.DS_Store
/Gemfile.lock
/.jekyll-cache
