<nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
  <div class="container">

    <div class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span id="nav-toggle"></span>
    </div>

    <div class="collapse navbar-collapse" id="containerNavbar">
      <ul class="navbar-nav mr-auto">
        {% assign navButtons = "home|team|publications|projects|research" | split: "|" %}
        {% for nav in navButtons %}
          {% assign navURL = "/" | append: nav | append: "/" %}
          {% assign pageURL = page.url %}
          {% if nav == "home" %}
            {% assign navURL = "/" %}
          {% endif %}

          {% if pageURL == navURL %}
            <li class="nav-item active" id="{{ nav }}-button">
              <a class="nav-link" id="nav-current" href="{{ site.baseurl }}{{ navURL }}">{{ nav | upcase }}</a>
            </li>
          {% else %}
            <li id="{{ nav }}-button">
              <a  class="nav-link" href="{{ site.baseurl }}{{ navURL }}">{{ nav | upcase }}</a>
            </li>
          {% endif %}
        {% endfor %}

        <!--li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li-->
      </ul>
    </div>
    <a class="navbar-brand" href="https://www.lcbc.nl">
      <img id="logo-header-wide" class="logo-header" src="{{ site.baseurl }}/assets/images/logos/logo_wide.svg"</img>
      <img id="logo-header-narrow" class="logo-header" src="{{ site.baseurl }}/assets/images/logos/logo_narrow.svg"</img>
    </a>
  </div>

<hr id="nav-line">
</nav>
