<div class="row" style="margin-top: 2.5rem; margin-bottom: 2.5rem;">
	<div class="paper-img-container col-md-3">
		<a href="{{ site.baseurl }}{{ publication.url }}">
			<img alt="{{ publication.shortname }} screenshot"
				class="paper-image-small"
				style="width: 100%;"
				src="{% if publication.image %}{{ site.paper_content_url }}/{{ publication.key }}/{{ publication.image }}{% else %}/assets/images/placeholder.png{% endif %}">
			</a>
	</div>
	<div class="paper-text-container col-md-9">
		<div class="row paper-authors-container">

			{% assign n_authors = publication.authors.size %}
			{% assign shorten = false %}
			{% if n_authors > 10 %}
				{% assign shorten = true %}
				{% assign n_authors = 5 %}
			{% endif %}

			{% for author in publication.authors limit:n_authors %}
				{% assign known = false %}
				{% for person in site.persons %}
					{% if author == person.key %}
						<span class="paper-author">
							{% if author == publication.authors.last %}and{% endif %}
							{% if person.website %}
								<a href="{{ person.website }}" target="_blank">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %},&nbsp;{% endif %}
							{% else %}
								{{ person.first_name }}&nbsp;{{ person.last_name }}{% if author != publication.authors.last %},&nbsp;{% endif %}
							{% endif %}
							{% if shorten and author == publication.authors[4] %}et al.{% endif %}
						</span>
						{% assign known = true %}
					{% endif %}
				{% endfor %}

				{% if known == false %}
				<span class="paper-author">
					{% if author == publication.authors.last %}and &nbsp;{% endif %}
					{{ author }}{% if author != publication.authors.last %},&nbsp;{% endif %}
					{% if shorten and author == publication.authors[4] %}et al.{% endif %}
				</span>
				{% endif %}
			{% endfor %}
		</div>
		<div class="row paper-title-container">
			<a href="{{ site.baseurl }}{{ publication.url }}">{{ publication.title }}</a>
		</div>
		<div class="row paper-journal-container">
			{% if publication.type == "article" %}
      	{{ publication.journal }},
      {% elsif publication.type == "inproceedings" %}
  			In {{ publication.journal }},
      {% elsif (publication.type == "book" or publication.type == "inbook") %}
  			{{ publication.publisher }},
      {% elsif (publication.type == "phdthesis" or publication.type == "mscthesis") %}
  			{{ publication.school }},
      {% else %}
  			{{ publication.journal }},
      {% endif %}
			{{publication.year}}
		</div>
		{%if publication.award %}
			<div class="row paper-title-container">
				<span class="award"><i class="far fa-gem"></i>&nbsp;{{publication.award}}</span>
			</div>
		{% endif %}
	</div>
</div>
