{% for researchItem in site.research %}
{% if researchItem.key == include.key %}
<div class="row featurette">
  {% if include.image == "right" %}
    <div class="col-md-7">
  {% else %}
    <div class="col-md-7 push-md-5">
  {% endif %}
    <h2 class="featurette-heading">
      {{ researchItem.title }}
      {% if researchItem.subtitle %}<span class="text-muted">{{ researchItem.subtitle }}</span>{% endif %}
    </h2>
    <p class="lead">{{ researchItem.content }}</p>
  </div>
    {% if include.image == "right" %}
      <div class="col-md-5">
    {% else %}
      <div class="col-md-5 pull-md-7">
    {% endif %}
    <img class="featurette-image img-fluid mx-auto" src="{{researchItem.teaser}}" alt="{{ researchItem.title }} Illustration">
  </div>
</div>
{% endif %}
{% endfor %}
