---
layout: default
---
<h1>{{ page.title }}</h1>
<div class="row paper-row">
  <div class="col-md-8 paper-main">
    <p><span class="h2">Abstract:</span> {{ page.abstract }}</p>

    {{ content }}

    {%if page.award %}
    <span class="award"><i class="far fa-gem"></i>&nbsp;{{ page.award }}</span>
    {% endif %}

    <div id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 1rem; margin-bottom: 1rem;">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h2 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Citation
            </a>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <span class="paper-citation paper-authors">
              {% assign n_authors = page.authors.size %}
        			{% assign shorten = false %}
              {% if n_authors > 10 %}
                {% assign shorten = true %}
                {% assign n_authors = 5 %}
              {% endif %}

              {% for author in page.authors limit:n_authors %}

                {% assign known = false %}
                {% for person in site.persons %}
                  {% if author == person.key %}
      							{% if author == page.authors.last %}and{% endif %}
                    {% if person.website %}<a href="{{ person.website }}" target="_blank">{% endif %}{{ person.first_name }}&nbsp;{{ person.last_name }}{% if person.website %}</a>{% endif %}{% if author != page.authors.last%}, {% else %}. {% endif %}
      							{% if shorten and author == page.authors[4] %}et al.{% endif %}
                    {% assign known = true %}
                  {% endif %}
                {% endfor %}

                {% if known == false %}
                  {% if author == page.authors.last %}and{% endif %}
                  {{ author }}{% if author != page.authors.last%}, {% else %}. {% endif %}
                  {% if shorten and author == page.authors[4] %}et al.{% endif %}
                {% endif %}

              {% endfor %}
            </span>
            <span class="paper-citation paper-title">{{page.title}}.</span>

            {% if page.type == "article" %}
            	<span class="paper-citation paper-journal">{{ page.journal }},</span>
            {% elsif page.type == "inproceedings" %}
        			In {{ page.journal }},
            {% elsif page.type == "book" or page.type == "inbook" %}
        			{{ page.publisher }},
            {% elsif page.type == "phdthesis" or page.type == "mscthesis" %}
        			{{ page.school }},
            {% else %}
        			{{ page.journal }},
            {% endif %}

            {% if page.volume %}
      				{{ page.volume }}{% if page.issue %}({{ page.issue }}){% endif %}:
            {% endif %}

            {% if page.chapter %}
      				chapter {{ page.chapter }},
            {% endif %}

            {% if page.page_start and page.page_end %}
        			<span class="paper-citation paper-pages">
        				pp. {{ page.page_start }}&ndash;{{ page.page_end }},
        			</span>
            {% elsif page.page_start %}
      				p. {{ page.page_start }},
            {% endif %}

            <span class="paper-citation paper-year">{{ page.year }}.</span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h2 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              BibTeX
            </a>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block bibtex">
            {% if page.type == "article" or page.type == "preprint" %}
            	@article
            {% elsif page.type == "inproceedings" %}
            	@inproceedings
            {% elsif page.type == "inbook" %}
            	@inbook
            {% elsif page.type == "book" %}
            	@book
            {% elsif page.type == "masters" %}
            	@mastersthesis
            {% elsif page.type == "phd" %}
            	@phdthesis
            {% else %}
            	@misc
            {% endif %}
        		{ bib:{{ page.key }},<br/>

            <div style="margin-left: 35px;">

        			author = {

                {% for author in page.authors %}

                  {% assign known = false %}
                  {% for person in site.persons %}
                    {% if author == person.key %}
                      {% include /functions/replace_umlauts.html input=person.first_name %} {% include /functions/replace_umlauts.html input=person.last_name %}
                      {% if author != page.authors.last%} and {% endif %}
                      {% assign known = true %}
                    {% endif %}
                  {% endfor %}

                  {% if known == false %}
                  {% include /functions/replace_umlauts.html input=author %}
                    {% if author != page.authors.last%} and {% endif %}
                  {% endif %}

                {% endfor %}
               },<br/>
        			title = { {{ page.title }} },<br/>

        			{% if page.type == "article" %}
        	    	journal = { {{ page.journal }} },<br/>
        	    {% elsif page.type == "inproceedings" %}
        	    	booktitle = { {{ page.journal }} },<br/>
        	    {% elsif page.type == "poster" %}
        	    	howpublished = { Poster presentation at {{ page.journal }} },<br/>
        	    {% endif %}

        			{% if page.volume %}
        	    	volume = { {{ page.volume }} },<br/>
        	    {% endif %}

        			{% if page.issue %}
        	    	number = { {{ page.issue }} },<br/>
        	    {% endif %}

        			{% if page.page_start %}
        	    	pages = { {{ page.page_start }}
        				{% if page.page_end %} -- {{ page.page_end }} {% endif %}
        				},<br/>
        	    {% endif %}

              {% if page.editor %}
        				editor = { {{ page.editor }} },<br/>
              {% endif %}

              {% if page.publisher %}
        				publisher = { {{ page.publisher }} },<br/>
              {% endif %}

        			{% if page.school %}
        				school = { {% include /functions/replace_umlauts.html input=page.school %} },<br/>
        	    {% endif %}

        			{% if page.year %}
        	    	year = { {{ page.year }} },<br/>
        	    {% endif %}

        			{% if page.doi %}
        	    	doi = { {{ page.doi }} },<br/>
        	    {% endif %}

            </div>
          	}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">

    {% if page.special_image %}
        <img class="paper-side-row" alt="{{ page.award }}" style="width: 100%;" src="{{ page.special_image }}">
    {% endif %}

    <img class="paper-side-row" alt="{{ page.shortname }} screenshot" style="width: 100%;" src="{% if page.image %}{{ site.paper_content_url }}/{{ page.key }}/{{ page.image }}{% else %}/assets/images/placeholder.png{% endif %}">

    {% if page.external-project %}
      <h3>Website</h3>
      <div class="row paper-side-row">
        <ul class="publication-short-list">
    		  <li><i class="fas fa-globe"></i> &nbsp;<a class="project-website" href="{{page.external-project}}" target="_blank">{{ page.shortname }} Website</a></li>
        </ul>
      </div>
    {% endif %}

    <h3>Resources</h3>
    <div class="row paper-side-row">
      <ul class="publication-short-list">
        {% if page.doi %}
  		    <li><i class="fas fa-globe"></i> &nbsp;<a href="https://dx.doi.org/{{ page.doi }}" target="_blank">Publisher</a></li>
        {% elsif page.publisher-url %}
    		  <li><i class="fas fa-globe"></i> &nbsp;<a href="{{ page.publisher-url }}" target="_blank">Publisher</a></li>
        {% endif %}

        {% if page.pdf %}
        <li style="margin-bottom: 0.5em"><i class="far fa-file-pdf"></i> &nbsp;<a href="{{site.paper_content_url}}/{{ page.key }}/{{ page.pdf }}" target="_blank">Preprint (pdf)</a></li>
        {% endif %}

        {% if page.supplement %}
        <li><i class="far fa-file-pdf"></i> &nbsp;<a href="{{site.paper_content_url}}/{{ page.key }}/{{ page.supplement }}" target="_blank">Supplement (pdf)</a></li>
        {% endif %}

        {% if page.supplements %}
          {% for supplement in page.supplements %}
            <li>
              {% if supplement.icon %}<i class="far fa-file-{{ supplement.icon }}"></i>{% else %}<i class="far fa-file"></i>{% endif %}
              &nbsp;<a href="{% if supplement.abslink %}{{ supplement.abslink }}{% else %}{{site.paper_content_url}}/{{ page.key }}/{{ supplement.link }}{% endif %}" target="_blank">{{supplement.name}}</a>
            </li>
          {% endfor %}
        {% endif %}

        {% if page.code %}
        <li>
          <i class="fas  fa-code-branch"></i> &nbsp;<a href="{{ page.code }}" target="_blank">Source Code</a>
        </li>
        {% endif %}
    </ul>
    </div>

    {% if page.videos %}
      {% if  page.videos.size > 1 %}<h3>Videos</h3>{% else %}<h3>Video</h3>{% endif %}
      {% for video in page.videos %}
      <div class="row paper-side-row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/{{video}}?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      {% endfor %}
    {% endif %}

    {% if page.doi %}
    <br/>
    <div class="row paper-side-row">
        <div data-badge-details="right" data-badge-type="donut" data-doi="{{page.doi}}" data-condensed="true" data-hide-no-mentions="true" data-hide-less-than="0" class="altmetric-embed"></div>
    </div>
    <br/>
    <div class="row paper-side-row">
<span class="__dimensions_badge_embed__" data-doi="{{page.doi}}" data-hide-zero-citations="true" data-legend="always" data-style="small_circle"></span>    </div>
    {% endif %}

  </div>
</div>

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
