---
layout: default
---
    {% for person in site.persons %}
      {% if person.graduated == null %}
        {% if person.role == 'phdstudent' %}
          {% assign ifphdstudent = 'true' %}
        {% elsif person.role == 'advisor' %}
            {% assign ifadvisor = 'true' %}
        {% elsif person.role == 'postdoc' %}
            {% assign ifpostdoc = 'true' %}
        {% elsif person.role == 'msstudent' %}
            {% assign ifmsstudent = 'true' %}
        {% elsif person.role == 'undergrad' %}
            {% assign ifundergrad = 'true' %}
        {% endif %}
      {% else %}
          {% assign ifalumni = 'true' %}
      {% endif %}
    {% endfor %}

  <article class="team-content">

      <h1>Faculty</h1>

      <div class="row">
        {% include person.html key="reinders" %}
        {% include person.html key="lelieveldt" %}
        {% include person.html key="akker" %}
        {% include person.html key="hollt" %}
        {% include person.html key="mahfouz" %}
      </div>

      {% if ifpostdoc == 'true' %}
        <h1 style="margin-top: 2rem;">Post-Doctoral Fellows</h1>
        <div class="row">
          {% include person.html role="postdoc" %}
        </div>
      {% endif %}

      {% if ifphdstudent == 'true' %}
        <h1 style="margin-top: 2rem;">PhD Students</h1>
        <div class="row">
          {% include person.html role="phdstudent" %}
      </div>
      {% endif %}

      {% if ifmsstudent == 'true' %}
        <h1 style="margin-top: 2rem;">Master's Students</h1>
        <div class="row">
          {% include person.html role="msstudent" %}
      </div>
      {% endif %}

      {% if ifadvisor == 'true' %}
        <h1 style="margin-top: 2rem;">Advisory Board</h1>
        <div class="row">
          {% include person.html role="advisor" %}
        </div>
      {% endif %}

      {% if ifalumni == 'true' %}
        <h1 style="margin-top: 4rem;">Alumni</h1>
        <div class="row">
          {% include person.html role="alumnus" %}
        </div>
      {% endif %}

  </article>
